@import '_variables';

body {
  margin: 0;
}

.App {
  font-family: 'Poppins', sans-serif;

  .navbar {
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    .navbar-brand {
      font-size: 30px;
      font-weight: bold;

      .navbar-title {
        color: #fcae61;
      }

      .navbar-title2 {
        color: $main_text_color;
      }
    }

    .navbar-links {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        flex: auto;
        color: $main_text_color;
        margin-right: 50px;
      }
    }
  }

  .btn {
    background-color: $button_background;
    color: $button_color;
    border: none;
    border-radius: 25px;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 16px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main_text_color;

    .hero-back {
      position: absolute;
      width: 100%;
      top: 480px;
      z-index: -999;
    }

    .hero-mobile {
      z-index: 2;
      width: 20%;
      margin-left: 150px;
    }

    .hero-text {
      width: 35%;

      .hero-text-secondary {
        font-size: 18px;
        color: #616368;
        margin-bottom: 30px;
      }

      .hero-main-text {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      .hero-title {
        background-color: #e2eaed;
        padding: 5px 30px;
        border-radius: 20px;
      }

      .hero-span {
        margin-left: 30px;
        color: #2500f9;
      }
    }
  }

  .testimonials {
    text-align: center;
    margin-top: 50px;

    .testimonials-text {
      padding-top: 50px;
      color: $main_text_color;
    }

    img {
      padding: 30px;
    }

    .mobile-group-wrapper {
      display: flex;
      margin-top: 80px;
      text-align: left;

      .mobile-group-text {
        margin-top: 30px;
        padding-left: 40px;
        width: 30%;
        color: $main_text_color;

        .text-title {
          font-size: 36px;
          font-weight: bold;
          width: 70%;
          margin-bottom: 0;
        }
      }

      .image-wrapper {
        width: 40%;
        margin-left: 80px;

        .mobile-group-img {
          width: 90%;
        }
      }
    }
  }

  .footer {
    background-color: #09142e;
    text-align: center;
    color: white;

    .footer-links {
      margin: 0;
      padding: 16px 0px;

      li {
        padding: 25px;
        display: inline-block;
      }
    }

    .footer-span {
      padding-top: 80px;
      font-size: 30px;
      font-weight: bold;

      .footer-span1 {
        color: #fcae61;
      }
    }

    .copy {
      padding-bottom: 80px;
      margin-bottom: 0;
      color: #505461;
    }
  }

  .third-div-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_text_color;
    margin-top: 20px;
    margin-bottom: 80px;

    .first-div {
      font-size: 40px;
      font-weight: bold;
      width: 30%;
      text-align: left;
      padding-right: 80px;
    }

    .second-div {
      font-size: 16px;
      width: 30%;
      text-align: left;
      padding: 50px;
      border-left: 2px solid #b9b9b8;
    }
  }

  .features-paragraph {
    display: flex;
    align-items: center;

    .feature {
      width: 60%;

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
      }

      p {
        margin-top: 5px;
      }
    }

    img {
      width: 40px;
      height: 40px;
      background-color: #ffecef;
      border-radius: 50%;
      padding: 16px;
      margin-right: 25px;
    }
  }

  .fourth-div {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 80px auto;

    .rewards-paragraph {
      padding: 0 60px 0 80px;

      .reward {
        h3 {
          font-size: 20px;
        }
        p {
          color: $main_text_color;
        }
      }

      img {
        width: 40px;
        height: 40px;
        background-color: #ffecef;
        border-radius: 50%;
        padding: 16px;
        margin-right: 25px;
      }
    }
  }

  .first-title {
    color: #f55767;
  }

  .second-title {
    color: #6388ff;
  }

  .third-title {
    color: #40975f;
  }

  .technologies-wrapper {
    display: flex;
    margin-top: 80px;
    text-align: left;
    margin-bottom: 70px;
    align-items: center;

    .technologies-text {
      padding-left: 40px;
      width: 30%;
      color: $main_text_color;

      .btn {
        margin-top: 20px;
      }

      .text-title {
        font-size: 36px;
        font-weight: bold;
        width: 80%;
        margin-bottom: 0;
      }
    }

    .image-wrapper {
      width: 40%;
      margin-left: 140px;

      .technologies-img {
        width: 80%;
      }
    }
  }

  .reasons {
    padding-top: 100px;
    border-top: 1px solid #f4f4f4;
    text-align: center;
    color: $main_text_color;

    .title {
      font-size: 40px;
      width: 35%;
      margin: auto;
    }

    .subtitle-wrapper {
      width: 42%;
      margin: auto;

      .subtitle {
        display: inline-block;
        color: #616368;
        font-size: 16px;
      }
    }

    .reasons-wrapper {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 70px auto;

      .reason {
        padding: 0 60px 0 80px;

        h1 {
          font-size: 20px;
          font-weight: bold;
        }

        p {
          color: #616368;
        }

        img {
          border-radius: 50%;
          padding: 16px;
        }

        .img-1 {
          background-color: #ffecef;
        }

        .img-2 {
          background-color: #eaf9ff;
        }

        .img-3 {
          background-color: #fff6d3;
        }

        .img-4 {
          background-color: #e4ffee;
        }

        .img-5 {
          background-color: #f4f4ff;
        }

        .img-6 {
          background-color: #fdeee4;
        }
      }
    }
  }

  .faq {
    margin-bottom: 20px;
    padding-bottom: 100px;
    border-bottom: 1px solid #f4f4f4;
    text-align: center;
    color: $main_text_color;

    .title {
      font-size: 40px;
    }

    .subtitle-wrapper {
      width: 42%;
      margin: auto;

      .subtitle {
        display: inline-block;
        color: #616368;
        font-size: 16px;
      }
    }

    .faq-accordion {
      text-align: left;
      width: 60%;
      margin: auto;

      .accordion-section {
        background-color: #f5f7fa;
        padding: 30px 89px 46px 46px;
        hyphens: auto;
        margin-top: 66px;

        h1 {
          font-size: 20px;
          margin-bottom: 38px;
        }
        p {
          margin-top: 0;
          color: #616368;
        }
      }

      .accordion-section-collapsed {
        background-color: #f5f7fa;
        padding: 10px 46px;
        margin-top: 10px;
        justify-content: space-between;
        display: flex;

        h1 {
          display: inline-block;
          font-size: 20px;
          font-weight: 500;
        }
        span {
          font-size: 30px;
          align-self: center;
        }
      }
    }
  }

  .download {
    display: flex;
    align-items: center;

    .download-buttons {
      margin-left: 160px;

      h1 {
        font-size: 48px;
        color: $main_text_color;
      }

      p {
        color: #616368;
      }
    }

    .vector {
      width: 50%;
    }

    .store {
      margin-top: 20px;
      width: 150px;
      padding-left: 30px;
    }
  }

  .planning-header {
    color: $main_text_color;
    margin-left: 180px;

    .title {
      font-size: 40px;
      width: 30%;
    }

    .subtitle-wrapper {
      width: 30%;

      .subtitle {
        display: inline-block;
        color: #616368;
        font-size: 16px;
      }
    }
  }

  .planning {
    text-align: left;
    color: $main_text_color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;

    .planning-img {
      width: 550px;
    }

    .planning-wrapper {
      text-align: left;

      .plan {
        padding: 20px 30px;

        h1 {
          margin-top: 25px;
          font-size: 20px;
          font-weight: bold;
        }

        p {
          color: #616368;
        }

        img {
          border-radius: 50%;
          padding: 16px;
        }

        .img-1 {
          background-color: #ffecef;
        }

        .img-4 {
          background-color: #eaf9ff;
        }

        .img-2 {
          background-color: #fff6d3;
        }

        .img-3 {
          background-color: #e4ffee;
        }
      }
    }
  }

  .btn-plan {
    margin-left: 200px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .price {
    margin-top: 150px;
    text-align: center;
    color: $main_text_color;
    padding-bottom: 70px;
    border-bottom: 1px solid #f4f4f4;

    .price-segment {
      width: 255px;
      padding: 2px;
      margin: auto;
      border: 2px solid #ebebeb;
      border-radius: 25px;

      span {
        margin-left: 30px;
        margin-right: 30px;
        color: #898a8e;
      }
    }

    .price-cards {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .price-card {
        margin: 50px 20px;
        padding-bottom: 0;
        max-width: 400px;
        border-radius: 6px;

        &.first-card {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        &.second-card {
          border: 2px solid #ebebeb;
        }

        .card-header {
          background-color: #f4f7f9;
          padding: 20px 60px;
          border-radius: 6px;
        }

        .card-content {
          padding-top: 30px;

          p {
            color: #898a8e;
          }

          .trial {
            margin-top: 0;
            margin-bottom: 30px;
            color: #2500f9;
          }

          .btn {
            margin-top: 20px;
            margin-bottom: 30px;
          }
        }

        h1 {
          font-size: 60px;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .card-subtitle,
        .card-sub-subtitle {
          margin: 0;
        }

        .card-subtitle {
          font-size: 20px;
          font-weight: bold;
        }

        .card-sub-subtitle {
          margin-bottom: 20px;
          font-size: 16px;
          color: #898a8e;
        }

        span {
          font-size: 16px;
          color: #999ca5;
          font-weight: 500;
        }
      }
    }

    h1 {
      font-size: 36px;
    }

    .title {
      width: 40%;
      margin: auto;
    }

    .subtitle {
      width: 42%;
      margin: auto;
      margin-bottom: 50px;
      color: #87898d;
    }
  }
  .testimonials-div {
    display: flex;
    margin-top: 100px;
    margin-bottom: 180px;
    color: $main_text_color;
    align-items: center;

    .image-wrapper {
      width: 40%;
      .testimonials-img {
        width: 90%;
      }
    }

    .title {
      width: 70%;
      h1 {
        font-size: 40px;
      }
    }

    .subtitle {
      width: 70%;
      color: #616368;
    }

    .testimonials-text {
      color: #616368;
      hyphens: auto;
      width: 80%;
    }

    .friendly {
      font-size: 20px;
    }

    .test-wrapper {
      margin-left: 50px;
      width: 50%;
    }

    .test-controls {
      display: flex;
      margin-top: 50px;
      align-items: center;

      .name-and-title {
        margin-left: 40px;

        h3,
        p {
          font-size: 18px;
        }

        h3 {
          margin-bottom: 0;
        }

        p {
          color: #616368;
          margin: 0;
        }
      }

      .controls {
        margin-left: 100px;

        .v-line {
          height: 30px;
          border-right: 1px solid #e7e7e7;
          align-self: center;
        }

        .img {
          width: 15px;
          height: 15px;
          padding: 20px;
          border-radius: 50%;

          &.img1 {
            margin-right: 10px;
            background-color: #fff;
            border: 2px solid #eff3f8;
          }

          &.img2 {
            margin-left: 10px;
            background-color: #eff3f8;
          }
        }
      }
    }
  }
}
